.logo{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .logo p{
   font-family:genkai-mincho;
   font-size: 24px;
   background-image:-webkit-linear-gradient(bottom,#395262,#7790a0ba); 
   -webkit-background-clip:text; 
   -webkit-text-fill-color:transparent; 
   margin-top: 15px;
 }
 .nav{
   z-index: 1;
   position:absolute;
   width: 100%;
   height: 150px;
   overflow:hidden;
 }
 .i18{
   float: left;
   margin-top: 12px;
   float: left;
 }
 .call{
    width: 200px;
    height: 40px;
    font-size: 23px;
    text-align: center;
    background-color: #f1d5c7;
    border: 2px solid #ffdead;
    border-radius: 0px 15px 15px 0px;
    float: right;
    display: flex;
    justify-content: center;
 }
 .call_text{
    margin-top: 5px;
    margin-left: 15px;
    color: #5f7da0;
 }
 .nav1{
   float: right;
   padding-top: 18px;
 }
 .nav0{
   margin-left: 50px;
 }
 .nav2{
  margin-right: 20px;
  position: relative;
  font-size: 20px;
  margin-top: 5px;
  width: 90px;
  color:#6f3d63;
  text-align: right;
 }
 @font-face{
  font-family: 'genkai-mincho'; 
  src:url('genkai-mincho.ttf');
}
@font-face{
  font-family: 'HYLingXinTiJ'; 
  src:url('HYLingXinTiJ.ttf');
}
@font-face{
  font-family: 'HYYouYuanTiW'; 
  src:url('HYYouYuanTiW.ttf');
}
.div2{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.past2{
width: 100%;
height: 80%;
position:relative;
top: 8%;

}
.sample1 img{
width: 287px;
position:inherit;
top: -13%;
}
.sample1{
width: 100%;
height: 100%;
position:relative;
background: linear-gradient(to bottom right,#c9b3e2,#99c0dd);
border-radius:1000px 1000px 0 0;
}
.text1{
  font-family: 'HYLingXinTiJ'; 
  font-size: 33px;
  z-index: 1;
  padding: 2%;
  color: #ff926c;
  margin-top: 80px;
}
.text1 div{
border-radius: 28px;
font-family: 'HYYouYuanTiW';
width: 500px;
font-size: 25px;
margin-top: 20px;
color: cornflowerblue;
background-color: #ffd3826b;
}
.text2{
    font-family: 'HYLingXinTiJ'; 
    background-color: #ffffff8f;
    font-size: 25px;
    padding: 2%;
    color: #ff926c;
    position: absolute;
    top: 345px;
    border-radius: 0 0 55px 0;
    border: 1px solid salmon;
    }
.sample2{
width: 100%;
height: 100%;
background: linear-gradient(to bottom right,#da71f5,#103b5a);
border-radius: 500px 0 0 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.text3{
width: 90%;
height: 20%;
background-color: #ffffff36;
border: 2px solid #ffffff;
border-radius: 30px;
color: antiquewhite;
font-size: 24px;
padding-top: 3%;
margin-top: 6%;
}
.text0{
    margin-top: 1%;
}
.text3 img{
    height: 35%;
    margin-top: 10px;
}
.past4{
width: 100%;
height: 100%;
background: linear-gradient(to bottom right,#f79999,#fff9bb);
border-radius: 0px 125px 0 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.title_{
    font-family: 'HYLingXinTiJ'; 
    font-size: 28px;
    color: #9a5976;
}
.Description{
    font-size: 15px;
    color: #421a15;
}